*{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
}

body{
    background-color: rgb(24, 24, 24);
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow-x: hidden;
}
#sidebar{
    background-color: rgb(33, 33, 33);
    width:17%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 23% 33%;
    justify-content: center;
    position: fixed;
}
#logobar{
    display: grid;
    grid-template-columns: 15% 40%;
    column-gap: 20%;
    position: fixed;
    left: 2%;
    top: 1.5%;
}
.opt1{
    display: grid;
    grid-template-columns: 12% 24%;
    column-gap: 10%;
    padding-left: 10%;
    align-items:center;
    padding-top: 2%;
}
.opt2{
    display: grid;
    grid-template-columns: 12% 74%;
    column-gap: 10%;
    padding-left: 10%;
    align-items:center;
    padding-top: 2%;
}
#btmbdr{
    border: 1px solid rgb(52, 52, 52);
    margin-top: 3%;
}
#navbar{
    background-color: rgb(24, 24, 24);
    display: flex;
    width: 83%;
    height: 8%;
    justify-content: flex-end;
    position: fixed;
    right: 0px;
    z-index: 5;
}
#nav1{
    display: flex;
    width: 55%;
    padding-right: 14%;
    align-self: center;
}
input{
    border: none;
    border: 1px solid rgb(52, 52, 52);;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#nav2{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}
.aa{
    height: 20px;
}

#navbar2{
    background-color: rgb(24, 24, 24);
    display: grid;
    grid-template-columns:100% 3%;
    width: 83%;
    height: 6%;
    position: fixed;
    top: 7.7%;
    right: 0%;
    border-bottom: 1px solid rgb(52, 52, 52);
    border-top: 1px solid rgb(52, 52, 52);
    padding-bottom: 0.7%;
    padding-top: 0.7%;
    z-index: 5;
}

#suggestion {
    display: grid;
    grid-template-columns: repeat(12,auto);
    grid-template-rows: 100%;
    padding: 6px;
    column-gap:10px;
    height: 70%;
  }
.sugg {
    background-color: rgb(52, 52, 52);
    border-radius:20px;
    font-size: 80%;
    text-align: center;
    padding: 5px;
}

#left{
    background-color: rgb(18, 18, 18);
    display: grid;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0%;
    top: 10%;
    height: 5%;
    width: 3%;
    box-shadow: -10px 0px 10px rgb(18, 18, 18);;
}

#main{
    display: grid;
    grid-template-columns: 26% 26% 26% 26%;
    /* grid-template-rows: 25% 25%; */
    width: 80%;
    height: 85vh;
    position:sticky;
    top: 97px;
    left: 247px;
    /* bottom: -210px; */
    font-size: 87%;
    padding-top: 9%;
}

#left > img{
    height: 20px;
    width: 20px;
}

.thumb{
    width: 21%;
    display: grid;
    grid-template-columns: 404%;
    grid-template-rows: 60% 20% 6% 6%;
}

.vtitle{
    display: grid;
    grid-template-columns: 18% 85%;
}

.cname{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 94%;
    padding-left: 18%;
    font-size: 80%;
}

.cname2{
    display: grid;
    grid-template-columns: 70% 10%;
    color: rgb(100, 100, 100);
}

.cname> div >img{
    padding-top: 3px; padding-left: 3px;
}

.cname23{
    display: grid;
    grid-template-columns: 44% 10%;
    color: rgb(100, 100, 100);
}

.cname24{
    display: grid;
    grid-template-columns: 23% 10%;
    color: rgb(100, 100, 100);
}

.cname25{
    display: grid;
    grid-template-columns: 43% 10%;
    color: rgb(100, 100, 100);
}

.cname26{
    display: grid;
    grid-template-columns: 15% 10%;
    color: rgb(100, 100, 100);
}

.cname27{
    display: grid;
    grid-template-columns: 49% 10%;
    color: rgb(100, 100, 100);
}

.views{
    display: grid;
    grid-template-columns: 31% 4% 36%;
    grid-template-rows: 94%;
    padding-left: 18%;
    font-size: 80%;
}

.views >div{
    color: rgb(100, 100, 100);
}

.views >div >img{
    padding-bottom: 28%
}

.thumb4{
    width: 21%;
    display: grid;
    grid-template-columns: 404%;
    grid-template-rows: 58% 16% 12% 6%;
}

.cnamea{
    display: grid;
    grid-template-columns: 100%
}

.cname1a{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 94%;
}

.thumb4a{
    width: 21%;
    display: grid;
    grid-template-columns: 409%;
    grid-template-rows: 50% 16% 17% 12%;
}

.mixbox1{
    background-color: rgba(231, 188, 149,0.8);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 23px;
}

.mixbox2{
    background-color: rgb(41, 8, 20,.8);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 23px;
}

.thumbn{
    width: 21%;
    display: grid;
    grid-template-columns: 404%;
    grid-template-rows: 56% 17% 6% 6% 6%;
}

.vtitlen{
    display: grid;
    grid-template-columns: 44% 86%;
    grid-template-rows: 38% 40%;
}
